h1{
    margin: 20px auto;
    width: 350px;
    text-align: center;
    position: relative;
    /* background-color: #ffffff;
    border: 1px solid rgba(22, 76, 167, 0.6);
    border-radius: 100px; */
    color: #1d89ff;
    font-weight: 400;
    font-size: 50px;
    font-family: inherit;
    font-weight: bold;
}

.modal{
    border: 3px solid black;
    font-weight: 400;
    font-size: 24px;
    font-family: inherit;
    max-width: 620px;
    background-color: rgb(145, 95, 95);
    margin: 0 auto;
    text-align: center;
}

.tules{
 margin: 0 auto;
 text-align: center;
}

.diff{
    text-align: center;
    /* margin: 0 auto; */
    /* width: 10px auto;  */
    /* padding-top: 10px; */
    text-transform: uppercase;
}

.score{
    position: relative;
    margin-left: 350px auto;
    padding: 5px 12px;
    height: 30px;
    outline: none;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: 1px solid rgba(22, 76, 167, 0.6);
    border-radius: 10px;
    color: #1d89ff;
    font-weight: 400;
    font-size: 16px;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.timer{
    position: relative;
    margin-left: 350px auto;
    padding: 5px 12px;
    height: 30px;
    width: 90px;
    outline: none;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: 1px solid rgba(22, 76, 167, 0.6);
    border-radius: 10px;
    color: #1d89ff;
    font-weight: 400;
    font-size: 16px;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.diff1{
    position: relative;
    padding: 5px 12px;
    height: 30px;
    width: 90px;
    outline: none;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 1px solid rgba(22, 76, 167, 0.6);
    border-radius: 10px;
    color: #1d89ff;
    font-weight: 400;
    font-size: 16px;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.diff1:hover{
    background-color: #ddd;
} 


.life{
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}

.lifes1{
    max-width: 40px;
    display: none;
}

.lifes2{
    max-width: 40px;
    display: none;
}

.lifes3{
    max-width: 40px;
    display: none;
}


.else{
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

.hints{
    padding-right: 100px;
}

.hint1{
    max-width: 50px;
    padding-right: 10px;
} 

.hint1:hover{
    cursor: pointer; 
    max-width: 60px;
}

.smiley{
    position: relative;
    padding: 2px 2px;
    border: 2px solid #ddd;
    text-align: center;
    cursor: pointer; 
}
.smiley:hover{
     background-color: yellow;
}


.otherClick{
    padding-left: 100px;
}

.safeClick{
    padding: 5px;
    height: 80px;
    width: 120px;
    outline: none;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 1px solid rgba(22, 76, 167, 0.6);
    border-radius: 10px;
    color: #1d89ff;
    font-weight: 400;
    font-size: 14px;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.safeClick:hover{
    background-color: #ddd;
    cursor: pointer;
}


table{
    padding: 1rem;
    margin: 10px auto;
    border: 3px solid rgba(22, 76, 167, 0.6);
}

.cell {
    background-color: rgb(194, 193, 190);
    width: 30px;
    height: 30px;
    text-align: center;
    font-style: normal;
    border: 1px solid rgba(22, 76, 167, 0.6);;
    cursor: pointer;
}

.cell2 {
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    font-style: normal;
    border: 1px solid rgba(22, 76, 167, 0.6);;
}
